@font-face {
    font-family: 'lucida_sans_unicoderegular';
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot');
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff2') format('woff2'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff') format('woff'),
         url('../fonts/lucida_sans_unicode_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
.wraper {
  width: 1000px;
  margin: auto;
  border: 2px solid black;
}
header {
  margin: auto;
}
.tel {
  float: left;
  margin-left: 52px;
  margin-top: 20px;
}
.text {
  float: left;
  font-size: 18px;
  font-family: arial, sans-serif;
  color: #5e696d;
  margin-left: 3px;
  margin-top: 21px;
  letter-spacing: 0.5px;
}
.enter {
  width: 494px;
  position: relative;
  background-image: linear-gradient(to top, #0d3458, #1f6787);
  float: right;
  font-family: 'lucida_sans_unicoderegular', arial, sans-serif;
  margin-top: 15px;
  color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 15px 0px rgba(182,182,182,1);
-moz-box-shadow: 2px 2px 15px 0px rgba(182,182,182,1);
box-shadow: 2px 2px 15px 0px rgba(182,182,182,1);
}
.enter input {
  width: 107px;
  font-size: 10.91px;
  color: #97a2a6;
  margin-top: 4px;
  margin-bottom: 6px;
  padding-left: 4px;
}
.enter [type="text"] {
  margin-left: 25px;
}
.enter img {
  padding-top: 5px;
  padding-left: 7px;
  position: absolute;
}
.ent {
  color: #ffffff;
  font-size: 10.91px;
  text-decoration: none;
  padding-left: 2px;
  padding-right: 2px;
}
.forget {
  font-size: 12px;
  color: #bfbfbf;
  padding-left: 12px;
}
.navi {
  float: right;
  border-radius: 35px;
  border: 1px solid #d3d8da;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(211,216,218,1);
  -moz-box-shadow: 2px 2px 1px 0px rgba(211,216,218,1);
   box-shadow: 2px 2px 1px 0px rgba(211,216,218,1);
   padding: 0 11px;
   margin: 18px 52px 15px 15px;
   letter-spacing: 5px;
}
.zazor {
  margin: 1px 45.5px;

}
nav {
  background-image: linear-gradient(to top, #010101, #4d5663);
  border-radius: 5px;
  margin-top: 3px;
  margin-left: 44px;
  margin-right: 44px;
  line-height: 2;
  }
nav ul {
  margin-left: 127px;
}
.ch1 {
  margin-left: -14px;
}
.ch2 {
  margin-left: -10px;
}

nav li a {
  float: left;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 2px;
  color: #b1bcc0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 13.64px;
  font-family: 'lucida_sans_unicoderegular', arial, sans-serif;
}

nav li a:hover {
  background-image: linear-gradient(to top, #0c3357, #25617b);
  border-radius: 60px;
  color: #ffffff;
}
.tovar {
  color: #929b9f;
  position: relative;
  font-family: arial, sans-serif;
  font-size: 11px;
  margin-left: 79px;
}
.tovar img {
  position: absolute;
  top: -4px;
  left: -27px;
}
.tovar2 {
  margin-left: 14px;
}
.sum1, .sum2 {
  color: #105484;
  font-size: 12px;
}
.sum2 {
  margin-left: 9px;
}
.catalog {
  width: 184px;
  margin-top: 167px;
  margin-left: 39px;

}
.brend {
  width: 184px;
  margin-top: 160px;
  margin-right: 47px;
  float: right;
}
main {
  width: 532px;
  margin-top: 164px;
  margin-left: 20px;
  padding-bottom: 28px;
  float: right;
  background-image: linear-gradient(to top, #a1b3bb, #e5e7e8);
}
figure {
  float: left;
  }
.image {
  border: 1px solid #b0b9bc;
  padding: 0px 30px;
  padding-top: 6px;
  margin-left: 22px;
  background-color: #ffffff;
  border-radius: 10px;
}
.image1 {
  border: 1px solid #b0b9bc;
  padding: 0px 36px;
  padding-top: 6px;
  margin-left: 28px;
  background-color: #ffffff;
  border-radius: 10px;
}
.image2 {
  border: 1px solid #b0b9bc;
  padding: 1px 29px;
  padding-top: 6px;
  margin-left: 28px;
  background-color: #ffffff;
  border-radius: 10px;
}
.name1 {
  color: #37748f;
  font-size: 14.59px;
  font-family: 'lucida_sans_unicoderegular', arial, sans-serif;
  margin-left: 56px;
  margin-top: 14px;
  letter-spacing: 0.5px;
  font-weight: bold;
}
.name2 {
  color: #37748f;
  font-size: 14.59px;
  font-family: 'lucida_sans_unicoderegular', arial, sans-serif;
  margin-left: 77px;
  margin-top: 14px;
  letter-spacing: 0.5px;
  font-weight: bold;
}
.name2a {
  color: #37748f;
  font-size: 14.59px;
  font-family: 'lucida_sans_unicoderegular', arial, sans-serif;
  margin-left: 67px;
  margin-top: 14px;
  letter-spacing: 0.5px;
  font-weight: bold;
}
.name3 {
  color: #37748f;
  font-size: 14.59px;
  font-family: 'lucida_sans_unicoderegular', arial, sans-serif;
  margin-left: 56px;
  margin-top: 24px;
  letter-spacing: 0.5px;
  font-weight: bold;
}
.name4 {
  color: #37748f;
  font-size: 14.59px;
  font-family: 'lucida_sans_unicoderegular', arial, sans-serif;
  margin-left: 75px;
  margin-top: 23px;
  letter-spacing: 0.5px;
  font-weight: bold;
}
.name4a {
  color: #37748f;
  font-size: 14.59px;
  font-family: 'lucida_sans_unicoderegular', arial, sans-serif;
  margin-left: 68px;
  margin-top: 23px;
  letter-spacing: 0.5px;
  font-weight: bold;
}
.name5 {
  color: #37748f;
  font-size: 14.59px;
  font-family: 'lucida_sans_unicoderegular', arial, sans-serif;
  margin-left: 55px;
  margin-top: 25px;
  letter-spacing: 0.5px;
  font-weight: bold;
}
.name6 {
  color: #37748f;
  font-size: 14.59px;
  font-family: 'lucida_sans_unicoderegular', arial, sans-serif;
  margin-left: 77px;
  margin-top: 26px;
  letter-spacing: 0.5px;
  font-weight: bold;
}
.name6a {
  color: #37748f;
  font-size: 14.59px;
  font-family: 'lucida_sans_unicoderegular', arial, sans-serif;
  margin-left: 67px;
  margin-top: 26px;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.name7 {
  color: #1f2528;
  font-size: 12.77px;
  font-family: 'lucida_sans_unicoderegular', arial, sans-serif;
  margin-left: 36px;
}
.name8 {
  color: #1f2528;
  font-size: 12.77px;
  font-family: 'lucida_sans_unicoderegular', arial, sans-serif;
  margin-left: 56px;
}
.name8a {
  color: #1f2528;
  font-size: 12.77px;
  font-family: 'lucida_sans_unicoderegular', arial, sans-serif;
  margin-left: 40px;
}
.name9 {
  color: #1f2528;
  font-size: 12.77px;
  font-family: 'lucida_sans_unicoderegular', arial, sans-serif;
  margin-left: 36px;
}
.namea {
  color: #1f2528;
  font-size: 12.77px;
  font-family: 'lucida_sans_unicoderegular', arial, sans-serif;
  margin-left: 55px;
}
.namea1 {
  color: #1f2528;
  font-size: 12.77px;
  font-family: 'lucida_sans_unicoderegular', arial, sans-serif;
  margin-left: 40px;
}
.nameb {
  color: #1f2528;
  font-size: 12.77px;
  font-family: 'lucida_sans_unicoderegular', arial, sans-serif;
  margin-left: 35px;
}
.namec {
  color: #1f2528;
  font-size: 12.77px;
  font-family: 'lucida_sans_unicoderegular', arial, sans-serif;
  margin-left: 56px;
}
  .nameca {
    color: #1f2528;
    font-size: 12.77px;
    font-family: 'lucida_sans_unicoderegular', arial, sans-serif;
    margin-left: 40px;
}
figcaption {
  color: #114165;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  font-family: arial, sans-serif;
  text-align: center;
  margin-left: 42px;
  margin-top: 4px;
}
.mainitem {
  text-transform: uppercase;
  font-size: 12.73px;
  font-family: 'lucida_sans_unicoderegular', arial, sans-serif;
  color: #114165;
  border: 1px solid #8c969a;
  border-radius: 40px;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(140,150,154,1);
  -moz-box-shadow: 2px 2px 1px 0px rgba(140,150,154,1);
  box-shadow: 2px 2px 1px 0px rgba(140,150,154,1);
  padding-left: 15%;
  margin-left: 3%;
  margin-top: 2%;
  line-height: 2;
  position: relative;
}
.mainitem1 {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'lucida_sans_unicoderegular', arial, sans-serif;
  color: #114165;
  border: 1px solid #8c969a;
  border-radius: 40px;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(140,150,154,1);
  -moz-box-shadow: 2px 2px 1px 0px rgba(140,150,154,1);
  box-shadow: 2px 2px 1px 0px rgba(140,150,154,1);
  padding-left: 27px;
  margin-left: 3%;
  margin-top: 3px;
  line-height: 2;
  position: relative;
}

.mainitem img {
  position: absolute;
  left: 2px;
}
.mainitem1 img {
  position: absolute;
  left: 0px;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}
.items {
  width: 120px;
  list-style-image: url("../img/shape1.png");
  color: #114165;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'lucida_sans_unicoderegular', arial, sans-serif;
  border: 1px solid #79878d;
  border-radius: 50px;
  margin-left: 8px;
  margin-top: 10px;
  position: relative;
  line-height: 2;
  padding-left: 28px;
}
.items1 {
  position: relative;
  width: 107px;
  color: #114165;
  text-transform: uppercase;
  font-size: 14px;
  font-family: arial, sans-serif;
  border: 1px solid #79878d;
  border-radius: 50px;
  margin-left: 19px;
  margin-top: 11px;
  position: relative;
  line-height: 2;
  padding-left: 28px;
}
.items1 img {
  position: absolute;
  top: 3px;
  left: 3px;
}
.disk {
  margin-top: -2px;
}
.items img {
  position: absolute;
  left:3px;
  top:2px;
}
.item{
  list-style-image: url("../img/shapeitem.png");
  color: #465961;
  font-family: 'lucida_sans_unicoderegular', arial, sans-serif;
  font-size: 12.73px;
  margin-left: 52px;
  margin-top: -1px;
  line-height: 2;
}
.item:hover {
  list-style-image: url("../img/shapebolt.png");
  text-decoration: underline;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  color: #0c3256;
  font-size: 14px;
}
.brend label {
  color: #465961;
  font-size: 12.73px;
  font-family: 'lucida_sans_unicoderegular', arial, sans-serif;
}
.brend input {
  margin-left: 31px;
  margin-top: 8px;
}
.brend input[type="button"] {
  width: 87px;
  font-size: 11px;
  color: #e5e9ea;
  text-transform: uppercase;
  background-image: linear-gradient(to top, #0c3357, #1f6787);
  font-family: arial, sans-serif;
  border-radius: 50px;
  margin-left: 24px;
  margin-top: 20px;
  letter-spacing: 1px;
  line-height: 2;
}
section {
    margin-left: 162px;
  margin-top: 36px;
  position: relative;
}
section div img {
    float: left;
    position: absolute;
}

.img1 {
    padding-right: 1px;
  padding-top: 7px;
}
.img2 {
  padding-left: 95px;
  }

.img3 {
  margin-left: 205px;
}
.img4 {
  margin-left: 297px;
  margin-top: -3px;
}
.img5 {
  margin-left: 368px;
  margin-top: 4px;
}
.img6 {
  margin-left: 458px;
  margin-right: 1px;
  margin-top: -8px;
}
.img7 {
  margin-left: 528px;
  margin-top: 8px;
}
.img8 {
  margin-left: 605px;
}

footer {
  background-color: #213a4d;
  margin: 55px 45px 0px;
}
footer ul {
  margin-left: 300px;
  padding-top: 12px;
}
footer li {
  float:left;
  font-family: arial,sans-serif;
  font-size: 12px;
  color: #8d989f;
    }
  footer li a {
    color: #8d989f;
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 12px;
    margin-left: 9px;
    padding-left: 1px;

  }
  footer div {
    font-family: arial, sans-serif;
    font-size: 10px;
    color: #7f4740;
    padding-left: 376px;
    padding-bottom: 50px;
    padding-top: 11px;
  }
  footer li a:hover {
    color: #52abcb;
    font-weight: bold;
  }
