@font-face {
    font-family: 'didot-bold';
    src: url('../fonts/didot_bold-webfont.eot');
    src: url('../fonts/didot_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/didot_bold-webfont.woff2') format('woff2'),
         url('../fonts/didot_bold-webfont.woff') format('woff'),
         url('../fonts/didot_bold-webfont.ttf') format('truetype'),
         url('../fonts/didot_bold-webfont.svg#didotbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin clearfix() {
    &:after,
    &:before {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
        height: 0;
        overflow: hidden;
    }
}
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
$main-width: 1440px;
$font-lato: 'Lato', Arial, sans-serif;
$font-didot:'didot-bold', Arial, sans-serif;
$font-playfair: 'Playfair Display', Arial, serif;
$color-grey: #b4b4b4;
$color-light-grey: #999999;
$color-dark-grey: #333333;
$color-blue: #2189db;
$main-margin-left: 150px;

.wrapper {
  background-color: #000;
}

//for extend
.container {
  width: $main-width;
  margin: 0 auto;
  background-color: #fff;
}
.link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: $font-lato;
  font-weight: bold;
  font-size: 12px;
  color: $color-grey;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin-left: 0px;
  line-height: 3.5;
}
.sprites {
position: absolute;
display: inline-block;
background-image: url('../img/sprites.png');
background-repeat: no-repeat;
}

.logo {
  float: left;
  margin-left: $main-margin-left;
  font-family: $font-didot;
  color: $color-dark-grey;
 font-size: 53px;
 padding-top: 26px;
 padding-bottom: 23px;
 letter-spacing: -2.9px;
 span {
   font-size: 32px;
 }
}

.footer {
  @extend .container;
  @include clearfix;
  .footer_logo + span {
    float: right;
    font-family: $font-lato;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    color: $color-light-grey;
    margin-right: 153px;
    margin-top: 47px;
  }
}

.footer_logo {
@extend .logo;
}

.footer_navigation {
  margin-left: 445px;
  margin-top: 13px;
  .footer_item {
    display: inline-block;
    margin-left: 0px;
    margin-right: 50px;
  .footer_link {
    @extend .link;
    line-height: 2;
    color: $color-dark-grey;
    

  }

  &:nth-child(4)  {
    margin-right: 54px;
}
  }
}

.header {
@extend .container;
}

.header_menu, .header_nav {
  border-bottom: 1px solid $color-grey;
  @include clearfix;
}

.header_list {
  float:left;
  list-style-type: none;
  margin-left: $main-margin-left;
  .header_item {
    display: inline-block;
    margin-left: 0px;
    .header_link {
     @extend .link;
     width: 62px;
     }
    }
  .header_item:nth-child(1) {
    margin-right:15px;
  }
  .header_item:nth-child(2) {
    margin-right:-5px;
  }
}

.header_lang {
  float: right;
  margin-right: 163px;
  position: relative;
  .header_item {
    display: inline-block;
    margin-right: 0px;
     .header_link {
       @extend .link;
       width: 20px;
       margin-right: 0px;
    }
    span {
      @extend .sprites;
      width: 10px;
      height: 10px;
      top:16px;
      left:24px;
      background-position: 0px 0px;

    }
  }
}

.header_currency {
  margin-left: 1142px;
  position: relative;
  .header_item {
    display: inline-block;
    margin-left: 0px;
    .header_link {
      @extend .link;
      width: 58px;
      }
    span {
      @extend .sprites;
      width: 10px;
      height: 10px;
      top:16px;
      left:67px;
      background-position: 0px 0px;
      }
    }
}

.header_logo {
@extend .logo;
}

.header_bag {
  float: right;
  margin-top: 27px;
  margin-right: 171px;
  span {
    font-family: $font-lato;
    font-weight: bold;
    font-size: 12.5px;
    color: $color-grey;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    margin-right: 12px;
     & + span {
       display: inline-block;
       padding: 16px 19px;
       border: 2px solid $color-blue;
       color: $color-dark-grey;
       text-align: center;
       @include border-radius(30px);
     }
  }
}

.header_navigation {
  margin-left: 434px;
  margin-top: 13px;
  .header_item {
    display: inline-block;
    margin-left: 0px;
    margin-right: 50px;
  .header_link {
    @extend .link;
    font-size: 12.5px;
    line-height: 2;
    }
    &:nth-child(4)  {
    margin-right: 70px;
    .header_link {
    color: #fc411d;
    }
}
&:hover .header_link {
  color: #696969;
  border-bottom: 2px solid $color-blue;
  }
  }
}
.header_search {
  @extend .sprites;
  width: 20px;
  height: 20px;
  top:87px;
  left: 1347px;
  background-position: -34px 0px;
}

.main {
  @extend .container;
}

.main_catalog {
  text-align: center;
  margin-bottom: 35px;
  h1 {
    font-family: $font-playfair;
    font-size: 58px;
    color: $color-dark-grey;
    line-height: 3;
    padding-top: 33px;
    padding-left: 5px;
    }
}

.main_navigation {
  text-align: left;
  margin-left: 408px;
  .main_item {
    display: inline-block;
    margin-left: 0px;
  .main_link {
    @extend .link;
    font-size: 12.5px;
    line-height: 2;
    border-bottom: 2px solid transparent;
  }
  &:nth-child(1)  {
    margin-right: 50px;
    }
  &:nth-child(2) {
    margin-right: 52px;
  }
  &:nth-child(3)  {
    margin-right: 51px;
  }
  &:nth-child(4)  {
    margin-right: 50px;
    }
  &:nth-child(5)  {
      margin-right: 51px;
    }
    &:hover .main_link {
      color: #696969;
      border-bottom: 2px solid $color-blue;
    }
  }
}

  .main_container {
    margin-left: $main-margin-left;
    margin-top: 40px;
    a {
      text-transform: uppercase;
      font-family: $font-lato;
      font-size: 12px;
      letter-spacing: 0.8px;
      line-height: 5;
      font-weight: bold;
      color: $color-light-grey;
      text-decoration: none;
      margin-left: -150px;
    }
  }
  .grid-item {
  float: left;
  width: 265px;
  height: 408px;
  margin-bottom: 30px;
  position: relative;
  &:nth-child(3),&:nth-child(9)  {
    p {
      text-decoration: line-through;
      &:after {
        content: '$12';
        margin-left: 12px;
        display: inline-block;
        color: #fc411d;
        text-decoration: none;
      }
    }
  }
  &:nth-child(4) {
    &:after {
      content: 'new';
      top:25px;
      left:24px;
      width:38px;
      height: 10px;
      padding: 7px 6px;
      display: inline-block;
      color: #ffffff;
      font-family: $font-lato;
      letter-spacing: 0.7px;
      font-size: 12px;
      text-transform: uppercase;
      background-color: #238cdc;
      position: absolute;
      @include border-radius(12px);
    }
  }
  }
  .main_prices {
    h4 {
      font-family: $font-playfair;
      font-size: 16px;
      color: $color-dark-grey;
      line-height: 2;
      margin-top: 16px;
      word-break: break-all;
    }
    p {
      font-family: $font-lato;
      font-size: 16px;
      color: $color-light-grey;
    }
  }

  .subscribe {
    background-color: #1b81d8;
    background-image: url('../img/blue-wall.jpg');
    text-align: center;
    height: 285px;
     h5 {
       font-family: $font-lato;
       font-weight: bold;
       font-size: 12px;
       letter-spacing: 0.8px;
       color: #4a677b;
       text-transform: uppercase;
       line-height: 5;
       padding-top: 42px;
     }
     p {
       font-family: $font-playfair;
       font-size: 38px;
       color: #ffffff;
     }
  }
  .subscribe_button {
    border: 2px solid #98caea;
    position: relative;
    width: 275px;
    padding: 14px 10px;
    margin: 28px auto;
    @include border-radius(20px);
    a {
      font-family: $font-lato;
      font-weight: bold;
      font-size: 12.5px;
      color:#ffffff;
      letter-spacing: 0.9px;
      text-transform: uppercase;
      text-decoration: none;
      margin-left: -95px;
    }
    span {
      @extend .sprites;
      width: 10px;
      height: 20px;
      top:15px;
      left:267px;
      background-position: -15px 0px;
    }
  }
