@font-face {
    font-family: 'didot-bold';
    src: url('../fonts/didot_bold-webfont.eot');
    src: url('../fonts/didot_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/didot_bold-webfont.woff2') format('woff2'),
         url('../fonts/didot_bold-webfont.woff') format('woff'),
         url('../fonts/didot_bold-webfont.ttf') format('truetype'),
         url('../fonts/didot_bold-webfont.svg#didotbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
