@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
$main-width: 1440px;
$font-lato: 'Lato', Arial, sans-serif;
$font-didot:'didot-bold', Arial, sans-serif;
$font-playfair: 'Playfair Display', Arial, serif;
$color-grey: #b4b4b4;
$color-light-grey: #999999;
$color-dark-grey: #333333;
$color-blue: #2189db;
$main-margin-left: 150px;
