$font-roboto-regular: 'robotoregular', Arial, sans-serif;
$font-roboto-light: 'robotolight', Arial, sans-serif;
$font-roboto-bold: 'robotobold', Arial, sans-serif;
$color-dark-gray: #363636;
$color-gray: #CBCBCB;
$color-middle-gray: #666666;
$color-light-gray: #999999;
$color-black: #000000;
$color-white: #FFFFFF;
$color-red: #EA2D2E;
$color-middle-red: #C82425;
$color-dark-red: #9B2329;
