$pr-width: 1160px;
$head-margin: 38px;
$ubuntu-font: 'Ubuntu', sans-serif;
$arial-font: Arial, sans-serif;
$social-height: 17px;
$section-background: #2a2d32;
$font-white: #fff;
$font-about-black: #2a2b2e;
$font-about-hover: #248cec;
$border-color-nav: #181a1d;
$section-news-back: #f7f7f7;
$font-color-news-main: #8a8a8a;
$accord-bord-color: #e8e8e8;
$foot-nav-font: #6e6f72;
$footer-back: #35383c;
$footer-font-color: #5d6063;
