.get_consultation {
  background-color: $color-middle-red;
  line-height: 8;

  @include mobile {
    margin-top: -15px;
    line-height: 4;

  };
 }

.get_consultation_container {
  width: 90%;
  margin: 0% auto;
  padding-bottom: 20px;

  @include tablet {
    text-align: center;
  };

  input[type=text] {
    width: 18%;
    margin-right: 1.4%;
    padding-left: 1.5%;
    font-family: $font-roboto-regular;
    font-size: 18px;
    color: $color-light-gray;
    line-height: 2.2;

    @include tablet {
      width: 30%;
      margin: 0 auto;
      font-size: 16px;
    };

    @include mobile {
      width: 80%;
      min-width: 250px;
      font-size: 14px;
    };

    &.get_consultation_name  {
      margin-left: 17%;

      @include tablet {
        margin: 0 auto;
      };
    }
  };
}

.get_consultation_button {
  padding: 10px 30px;
  box-shadow: 0 0 15px $color-dark-red;
  @extend .button;
  @include border-radius(5px);
  @include tablet {
    display: block;
    margin: 0 auto;
    font-size: 16px;
  };
  @include mobile {
    margin: 3% auto;
    font-size: 14px;
  };
}
