html {
  overflow-y: scroll;
}
.flexslider{
  overflow: hidden;
}
@media (min-width: 960px) {
  .container {
    width:970px !important;
  }
  .header__item-logo {
    margin-right: 450px!important;
  }

}
@media (min-width: 768px) {
  .flexslider {
    margin-left: 5px!important;
    margin-right: 5px!important;
  }
  .slides__red {
    letter-spacing: 0!important;
  }
}
